body {
    padding:0;
    margin:0;
}
.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 90% 10%;
    height:100vh;

}

#name {
    grid-column: 2/3;
    grid-row: 1;
    place-self: center;
    font-size:3em;
}

#about {
    grid-column: 1;
    grid-row:1;
    align-self: center;
    justify-self: start;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#contact {
    grid-column: 3;
    grid-row:1;
    align-self: center;
    justify-self:end;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#project {
    grid-column: 2/3;
    grid-row:2;
    justify-self:center;
    align-self:end;
    letter-spacing: 5px;
}