@keyframes naming {
    from {color:#353535;}
    /* to {color: #d9d9d9;} */
    /* to {color:#f8f4e3;} */
    to {color:#f9fafb;}
}

/* @keyframes backImg {
    from {background-color: #eee;}
    to {background-image: url("IMG_2499.jpeg");}
} */
body {
    padding:0;
    margin:0;
    /* background-color: #353535; */
    background-image: url("sunset.jpeg");
    background-position: center;
    /* transform: translate3d(0,0,0); */
    font-family: monaco;
}
.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 90% 10%;
    height:100vh;

}

#name {
    grid-column: 2/3;
    grid-row: 1;
    place-self: center;
    font-size:3em;
    animation-name: naming;
    animation-duration: 3s;
    /* color:#d9d9d9; */
    color:#f9fafb;
}

#about {
    grid-column: 1;
    grid-row:1;
    align-self: center;
    justify-self: start;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
nav {
    animation-name: naming;
    animation-duration: 6s;
    color: #d9d9d9;
    font-size: 24px;
}
nav:hover {
    color:#eee;
}
#contact {
    grid-column: 3;
    grid-row:1;
    align-self: center;
    justify-self:end;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#project {
    grid-column: 2/3;
    grid-row:2;
    justify-self:center;
    align-self:end;
    letter-spacing: 5px;
}